# Dependencies
node_modules/
.venv/
env/
venv/
ENV/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# System & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Local databases & logs
*.log
*.db
*.sqlite

# Build outputs
dist/
build/
out/
